Source: cosmic-player
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
    clang,
    debhelper-compat (=13),
    just (>= 1.13.0),
    libgstreamer1.0-dev,
    libgstreamer-plugins-base1.0-dev,
    libxkbcommon-dev,
    pkg-config,
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-player

Package: cosmic-player
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends},
      gstreamer1.0-plugins-base,
      gstreamer1.0-plugins-good,
Description: Cosmic Media Player
